@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1,
h2,
h3,
h4,
p {
  text-wrap: balance;
}
<<<<<<< Updated upstream
=======

header > div,
header img {
  transition: 150ms;
}

.header-small > div {
  padding: 20px;
}

.header-small img {
  width: 100px;
}

.fade-in {
  opacity: 0.3;
  animation: fade-in 500ms forwards ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 2px;
  margin: 0.2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 2px;
}
>>>>>>> Stashed changes
